*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	color: #fff;
}
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
a{
	text-decoration: none;
	color: #fff;
}
button{
	border: none;
	background: none;
	cursor: pointer;
}
body{
	width: 100vw;
	height: 2868px; /*Общая высота веб-страницы(под смартфоны)*/
	background: #781a13;
}
.header{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 1245px;
}
.header-box{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 22px;
	display: flex;
	justify-content: center;
	z-index: 1000;
	background: #781a13;
}
.header-box__navbar{
	width: 290px;
	height: 22px;
	display: flex;
}
.navbar-links{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: calc( 100% / 3 );
}
.navbar-links button{
	display: flex;
	font-size: 5px;
	font-weight: 500;
	line-height: 6.05px;
}
.navbar-links div{
	padding-left: 5.93px;
}
.navbar-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc( 100% / 3 );
}
.navbar-title div{
	font-weight: 800;
	font-size: 13px;
	line-height: 12.7px;
}
.navbar-socNetworks{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 5.93px;
	width: calc( 100% / 3 );
}
.navbar-socNetworks div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
}
.navbar-socNetworks div img{
	width: 6px;
	height: 6px;
	object-fit: cover;
}
.header-img{
	width: 100vw;
	height: 280px;
	display: flex;
	justify-content: center;
}
.header-img-description{
	margin-top: 22px;
	position: absolute;
	width: 290px;
	height: 258px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-img-description__title{
	height: 48px;
	margin-top: 77px;
	font-size: 24px;
	font-weight: 500;
	line-height: 23.45px;
}
.header-img-description__title p{
	font-weight: 600;
	text-align: center;
}
.doppel{
	display: none;
}
.header-img-description__titleDescription{
	margin-top: 5px;
	width: 130px;
	height: 40px;
	font-size: 11px;
	line-height: 13.31px;
	font-weight: 400;
	text-align: center;
}
.header-img-description__openSeaBtn{
	width: 78px;
	height: 18px;
	font-size: 7px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}
.header-aboutProject{
	width: 100%;
	height: 215px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-aboutProject__text{
	width: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-aboutProject__text-cont{
	text-align: center;
	width: 90%;
	height: 85px;
	font-size: 11px;
	font-weight: 300;
	line-height: 16.5px;
}
.header-aboutImg{
	width: 100%;
	height: 138px;
}
.header-abouProject2{
	width: 100%;
	height: 433px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.header-abouProject2Box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-aboutProject__title{
	margin-top: 55px;
	width: 57px;
	height: 19px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19.36px;
}
.header-aboutProject__text2{
	padding-top: 35px;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-aboutProject__text2-cont{
	width: 70%;
	height: 122px;
	font-size: 11px;
	font-weight: 300;
	line-height: 16.5px;
}
.header-aboutProject__text3{
	padding-top: 35px;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-aboutProject__text3-cont{
	width: 70%;
	height: 102px;
	font-size: 11px;
	font-weight: 300;
	line-height: 16.5px;
}
.header-postScriptum{
	width: 100%;
	height: 159px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.header-postScriptum-cont{
	width: 260px;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 20.8px;
	color: #000;
}
.main{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 1218px;
}
.mainFlex{
	width: inherit;
}
.main-img{
	width: 100%;
	height: 163px;
}
.main-imgMid{
	display: flex;
	width: 100%;
	height: 163px;
}
.main-img1024more{
	display: none;
}
.main-box{
	width: 100%;
	height: 243px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-box__content{
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.content-title{
	width: 144px;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 16.5px;
}
.content-text{
	width: 90%;
	height: 102px;
	font-size: 11px;
	font-weight: 300;
	line-height: 16.5px;
	display: flex;
	align-items: center;
}
.footer{
	width: 100%;
	height: 525px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-img{
	width: 100%;
	height: 112px;
	z-index: 500;
}
.footer-img-contain{
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 800;
}
.footer-img__title{
	width: 290px;
	left: 42.78px;
	margin-top: 25px;
}
.footer-img__title-cont{
	color: #fff;
	font-weight: 500;
	font-size: 13px;
	line-height: 14.3px;
}
.footer-img__btn{
	margin-top: 7px;
}
.footer-box2{
	display: none;
}
.footer-box{
	width: 290px;
	height: 414px;
}
.footer-box__title{
	width: 100%;
	padding-top: 49px;
}
.footer-box__title-cont{
	width: 290px;
	height: 58px;
	font-weight: 500;
	font-size: 24px;
	line-height: 29.05px;
}
.footer-box__text{
	width: 100%;
	margin-top: 17px;
}
.footer-box__text-cont{
	width: 220px;
	height: 54px;
	font-weight: 300;
	font-size: 11px;
	line-height: 13.31px;
}
.footer-box__info{
	margin-top: 61px;
	height: 45px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.footer-box__block{
	width: 145px;
	height: 45px;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 16px;
	line-height: 17.6px;
}
.block-contact-href{
	margin-top: 14px;
	height: 54px;
	font-weight: 300;
	font-size: 11px;
	line-height: 13.31px;
	text-decoration: underline;
}
.block-network-href{
	margin-top: 8px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.block-network-href .padding{
	padding-left: 10px;
}
.block-network-href div{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block-network-href div img{
	width: 13px;
	height: 13px;
	object-fit: center;
}
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1299px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	.header{
			height: 2083px;
		}
		.header-box{
			width: 100vw;
			height: 53px;
		}
		.header-box__navbar{
			width: 688px;
			height: 53px;
		}
		.navbar-links{
			width: calc( 100% / 3 );
		}
		.navbar-links button{
			display: flex;
			font-size: 12px;
			font-weight: 500;
			line-height: 14.52px;
		}
		.navbar-links .padding-left{
			padding-left: 24.18px;
		}
		.navbar-title div{
			font-weight: 800;
			font-size: 31.2px;
			line-height: 30.48px;
		}
		.navbar-socNetworks .padding-right{
			padding-right: 26.44px;
		}
		.navbar-socNetworks div{
			margin-left: 0px;
			width: 24px;
			height: 24px;
			background: #fff;
			border-radius: 20px;
		}
		.navbar-socNetworks div img{
			width: 15px;
			height: 15px;
		}
		.header-img{
			width: 100vw;
			height: 457px;
			display: flex;
			justify-content: center;
		}
  	.header-img-description{
  		margin-top: 93px;
  		text-align: center;
  		width: 70%;
  	}
  	.header-img-description__title{
  		width: 100%;
  		font-size: 42px;
  		line-height: 41.03px;
  		font-weight: 500;
  	}
  	.header-img-description__title p{
  		display: none;
  	}
  	.doppel{
  		display: inline;
  		font-size: 42px;
  		line-height: 41.03px;
			font-weight: 600;
  	}
  	.header-img-description__titleDescription{
			margin-top: 20.3px;
			width: 349px;
			height: 48px;
			font-size: 20px;
			line-height: 24.2px;
			font-weight: 400;
		}
		.header-img-description__openSeaBtn{
			width: 155px;
			height: 35px;
			font-size: 14px;
			margin-top: 55.7px;
		}
		.header-aboutProject{
			width: 100%;
			height: 350px;
			padding-bottom: 45px;
			display: flex;
			justify-content: center;
		}
		.header-aboutProject__text{
			width: 439px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__text-cont{
			text-align: center;
			width: 90%;
			height: 150px;
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
		}
		.header-aboutImg{
			width: 100%;
			height: 330px;
		}
		.header-abouProject2{
			width: 100%;
			height: 675px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		.header-abouProject2Box{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__title{
			margin-top: 95px;
			width: 89.39px;
			height: 30.22px;
			font-weight: 600;
			font-size: 20px;
			line-height: 24.2px;
		}
		.header-aboutProject__text2{
			padding-top: 51.06px;
			width: 541px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__text2-cont{
			width: 90%;
			height: 190px;
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
		}
		.header-aboutProject__text3{
			padding-top: 50.86px;
			width: 541px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__text3-cont{
			width: 90%;
			height: 160px;
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
		}
		.header-postScriptum{
			height: 218px;
		}
		.header-postScriptum-cont{
			width: 556px;
			font-size: 25px;
			line-height: 32.5px;
			color: #000;
		}
		.main{
			width: 100%;
			height: 2328px;
		}
		.main-img{
			margin-top: 60px;
			width: 100%;
			height: 306px;
		}
		.main-imgMid{
			display: flex;
			margin-top: 60px;
			width: 100%;
			height: 306px;
		}
		.main-img1024more{
			display: none;
		}
		.main-box{
			width: 100%;
			height: 360px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.main-box__content{
			margin-top: 100px;
			width: 768px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.content-title{
			width: 224px;
			margin-bottom: 40px;
			font-weight: 500;
			font-size: 25px;
			line-height: 32.5px;
		}
		.content-text{
			width: 90%;
			height: 180px;
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.footer{
			width: 100%;
			height: 815px;
		}
		.footer-img{
			width: 100%;
			height: 268.8px;
			z-index: 500;
		}
		/*Переход стилей для экранов с разрешения 320px на разрешения более 768px(специальный блок кода есть в main.html файле, находится на :194 строке)*/
		.footer-img-contain{
			display: flex;
			justify-content: center;
			position: absolute;
			z-index: 800;
		}
		.footer-img__title{
			position: absolute;
			z-index: 1000;
			left: -282.68px;
			margin-top: 71px;
		}
		.footer-img__title-cont{
			color: #fff;
			font-weight: 500;
			font-size: 25px;
			line-height: 27.51px;
		}
		.footer-img__btn{
			margin-top: -21px;
		}
		.footer-box{
			width: 290px;
			height: 545px;
			display: none;
		}
		.footer-box2{
			width: 768px;
			height: 545px;
			display: flex;
			flex-direction: row;
		}
		.footer-box2-flexCont{
			width: 60%;
			margin-top: 60px;
			padding-left: 40px;
		}
		.footer-box__title{
			height: 60px;
			width: 273px;
		}
		.footer-box__title-cont{
			font-weight: 500;
			font-size: 25px;
			line-height: 30.26px;
		}
		.footer-box__text{
			margin-top: 75px;
			height: 98px;
			width: 329px;
		}
		.footer-box__text-cont{
			font-weight: 300;
			font-size: 16px;
			line-height: 19.36px;
		}
		.footer-box__info{
			width: 40%;
			margin-top: 115px;
			padding-right: 80px;
		}
		.block-network-title{
			height: 22px;
			width: 136px;
			font-size: 20px;
			line-height: 22px;
			font-weight: 400;
		}
		.block-network-href div{
			margin-left: 0px;
			width: 24px;
			height: 24px;
			background: #fff;
			border-radius: 20px;
		}
		.block-network-href div img{
			width: 15px;
			height: 15px;
		}
		.footer-box__block{
			margin-left: 30px;
		}
		.block-contact-title{
			height: 22px;
			width: 136px;
			font-size: 20px;
			line-height: 22px;
			font-weight: 400;
		}
		.block-contact-href{
			width: 103px;
			height: 16px;
			font-size: 13px;
			line-height: 15.73px;
			font-weight: 300;
		}
  }
@media screen
  and (min-device-width: 1300px)
  and (max-device-width: 2559px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	.header{
			height: 3675px;
		}
		.header-box{
			width: 100vw;
			height: 67px;
		}
		.header-box__navbar{
			width: 1300px;
			height: 67px;
		}
		.navbar-links{
			width: calc( 100% / 3 );
			font-weight: 500;
			padding-left: 62px;
		}
		.navbar-links button{
			display: flex;
			font-size: 15px;
			font-weight: 500;
			line-height: 18.15px;
		}
		.navbar-links button div{
			color: #fff;
			transition: all 0.5s;
		}
		.navbar-links button div:hover{
			color: #83354B;
		}
		.navbar-links .padding-left{
			padding-left: 35px;
		}
		.navbar-title div{
			font-weight: 800;
			font-size: 40px;
			line-height: 39.08px;
		}
		.navbar-socNetworks{
			padding-right: 73px;
		}
		.navbar-socNetworks .padding-right{
			padding-right: 33.75px;
		}
		.navbar-socNetworks div{
			margin-left: 0px;
			width: 30px;
			height: 30px;
			background: #fff;
			border-radius: 20px;
			transition: all 0.3s;
		}
		.navbar-socNetworks div:hover{
			background: #83354B;
		}
		.navbar-socNetworks div img{
			width: 21px;
			height: 21px;
		}
		.header-img{
			width: 100vw;
			height: 792px;
			display: flex;
			justify-content: center;
		}
  	.header-img-description{
  		margin-top: 217px;
  		text-align: center;
  		width: 80%;
  	}
  	.header-img-description__title{
  		width: 100%;
  		font-size: 55px;
  		line-height: 53.27px;
  		font-weight: 500;
  	}
  	.header-img-description__title p{
  		display: none;
  	}
  	.doppel{
  		display: inline;
			font-weight: 700;
  	}
  	.header-img-description__titleDescription{
			margin-top: 40px;
			width: 353px;
			height: 72px;
			font-size: 20px;
			line-height: 26.1px;
			font-weight: 400;
		}
		.header-img-description__openSeaBtn{
			width: 360px;
			height: 65px;
			font-size: 28px;
			margin-top: 53.89px;
			transition: all 1s;
		}
		.header-img-description__openSeaBtn:hover{
			background: #83354B;
			border-radius: 40px;
		}
		.header-aboutProject{
			width: 100%;
			height: 722px;
			display: flex;
			justify-content: center;
		}
		.header-aboutProject__text{
			width: 658px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__text-cont{
			text-align: center;
			width: 90%;
			height: 225px;
			font-size: 30px;
			font-weight: 300;
			line-height: 45px;
		}
		.header-aboutImg{
			width: 100%;
			height: 688px;
		}
		.header-abouProject2{
			width: 100%;
			height: 1020px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.header-abouProject2Box{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 80%;
		}
		.header-aboutProject__title{
			width: 142px;
			height: 48px;
			font-weight: 500;
			font-size: 40px;
			line-height: 48.41px;
		}
		.header-aboutProject__text2{
			padding-top: 97px;
			width: 812px;
		}
		.header-aboutProject__text2-cont{
			width: 90%;
			height: 225px;
			font-size: 30px;
			font-weight: 300;
			line-height: 45.01px;
		}
		.header-aboutProject__text3{
			padding-top: 76px;
			width: 812px;
		}
		.header-aboutProject__text3-cont{
			width: 90%;
			height: 307px;
			font-size: 30px;
			font-weight: 300;
			line-height: 45.01px;
		}
		.header-postScriptum{
			height: 385px;
		}
		.header-postScriptum-cont{
			width: 890px;
			font-size: 40px;
			line-height: 52px;
			color: #000;
		}
		.main{
			width: 100%;
			height: 2936px;
		}
		.mainFlex{
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-top: 100px;
		}
		.mainFlex-dopCont{
			display: inherit;
			margin-top: 90px;
			width: 100%;
		}
		.main-img{
			width: 95%;
			height: 687px;
		}
		.main-imgMid{
			display: none;
		}
		.main-box{
			width: 100%;
			height: 687px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.main-box__content{
			margin-top: 62px;
			width: 650px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.content-title{
			text-align: left;
			width: 80%;
			margin-bottom: 40px;
			font-weight: 600;
			font-size: 35px;
			line-height: 45.5px;
		}
		.content-text{
			text-align: left;
			width: 80%;
			height: 460px;
			font-size: 30px;
			font-weight: 300;
			line-height: 45px;
			display: flex;
			align-items: center;
			justify-items: center;
		}
		.main-img1024more{
			display: flex;
			width: 95%;
			height: 687px;
		}
		.footer{
			width: 100%;
			height: 1550px;
		}
		.footer-img{
			width: 100%;
			height: 510px;
			z-index: 500;
		}
		.footer-img-contain{
			z-index: 800;
		}
		.footer-img__title{
			position: absolute;
			z-index: 1000;
			width: 467px;
			height: 165px;
			left: -640px;
			margin-top: 161px;
			padding-left: 50px;
		}
		.footer-img__title-cont{
			color: #fff;
			font-weight: 600;
			font-size: 50px;
			line-height: 60.01px;
		}
		.footer-img__btn{
			margin-top: 42px;
		}
		.footer-img__btn .header-img-description__openSeaBtn{
			width: 246px;
			height: 46px;
			font-size: 20px;
			margin-top: 23.87px;
			font-weight: 500;
		}
		.footer-box{
			display: none;
		}
		.footer-box2{
			width: 1300px;
			height: 1040px;
			display: flex;
			flex-direction: row;
		}
		.footer-box2-flexCont{
			width: 60%;
			margin-top: 234px;
			padding-left: 50px;
		}
		.footer-box__title{
			height: 96px;
			width: 100%;
		}
		.footer-box__title-cont{
			display: block;
			font-weight: 500;
			font-size: 40px;
			line-height: 48.41px;
			width: 436px;
			height: 96px;
		}
		.footer-box__text{
			margin-top: 107px;
		}
		.footer-box__text-cont{
			height: 147px;
			width: 650px;
			font-weight: 300;
			font-size: 30px;
			line-height: 36.31px;
		}
		.footer-box__info{
			width: 40%;
			margin-top: 285px;
			padding-right: 50px;
		}
		.block-network-title{
			height: 33px;
			width: 179px;
			font-size: 30px;
			line-height: 33.01px;
			font-weight: 400;
		}
		.footer-box__block{
			margin-right: 60px;
		}
		.footer-box__block .block-network-href{
			margin-top: 30px;
			width: 175px;
			display: flex;
			justify-content: space-between;
		}
		.block-network-href div{
			margin-left: 15px;
			width: 45px;
			height: 45px;
			background: #fff;
			border-radius: 30px;
			transition: all 0.5s;
		}
		.block-network-href div:hover{
			background: #83354B;
		}
		.padding{
			margin-right: 0px;
		}
		.block-network-href div img{
			width: 30px;
			height: 30px;
		}
		.footer-box__block{
			margin-left: 60px;
		}
		.block-contact-title{
			height: 33px;
			width: 196px;
			font-size: 30px;
			line-height: 33.01px ;
			font-weight: 400;
		}
		.block-contact-href{
			margin-top: 40px;
			width: 142px;
			height: 22px;
			font-size: 18px;
			line-height: 21.78px;
			font-weight: 300;
		}
		.block-contact-href a{
			color: #fff;
			transition: all 0.5s;
		}
		.block-contact-href a:hover{
			color: #83354B;
		}
  }
@media screen
  and (min-device-width: 2560px)
  and (max-device-width: 3499px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	.header{
			height: 5978px;
		}
		.header-box{
			width: 100vw;
			height: 107px;
		}
		.header-box__navbar{
			width: 2160px;
			height: 107px;
		}
		.navbar-links{
			width: calc( 100% / 3 );
			padding-left: 139.2px;
		}
		.navbar-links button{
			display: flex;
			font-size: 24px;
			font-weight: 600;
			line-height: 29.05px;
		}
		.navbar-links button div{
			color: #fff;
			transition: all 0.5s;
		}
		.navbar-links button div:hover{
			color: #83354B;
		}
		.navbar-links .padding-left{
			padding-left: 56px;
		}
		.navbar-title div{
			font-weight: 900;
			font-size: 64px;
			line-height: 62.52px;
			letter-spacing: 0.1em;
		}
		.navbar-socNetworks{
			padding-right: 157.2px;
		}
		.navbar-socNetworks .padding-right{
			padding-right: 54.4px;
		}
		.navbar-socNetworks div{
			margin-left: 0px;
			width: 48px;
			height: 48px;
			background: #fff;
			border-radius: 33px;
			transition: all 0.3s;
		}
		.navbar-socNetworks div:hover{
			background: #83354B;
		}

		.navbar-socNetworks div img{
			width: 31px;
			height: 31px;
		}
		.header-img{
			width: 100vw;
			height: 1073.9px;
			display: flex;
			justify-content: center;
		}
		.header-img-description{
  		margin-top: 362.03px;
  		text-align: center;
  		width: 80%;
  	}
  	.header-img-description__title{
  		width: 100%;
  		font-size: 120px;
  		line-height: 117.23px;
  		font-weight: 600;
  	}
  	.header-img-description__title p{
  		display: none;
  	}
  	.doppel{
  		display: inline;
			font-weight: 600;
  	}
  	.header-img-description__titleDescription{
			margin-top: 110px;
			width: 932px;
			height: 122px;
			font-size: 50px;
			line-height: 60.51px;
			font-weight: 500;
		}
		.header-img-description__openSeaBtn{
			width: 468px;
			height: 102px;
			font-size: 44px;
			margin-top: 52.85px;
			transition: all 1s;
		}
		.header-img-description__openSeaBtn:hover{
			background: #83354B;
			border-radius: 70px;
		}
		.header-aboutProject{
			width: 100%;
			height: 1175.1px;
			display: flex;
			justify-content: center;
		}
		.header-aboutProject__text{
			width: 2160px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__text-cont{
			text-align: center;
			display: flex;
			align-items: center;
			width: 60%;
			height: 375px;
			font-size: 50px;
			font-weight: 400;
			line-height: 75px;
		}
		.header-aboutImg{
			width: 100%;
			height: 1100.8px;
		}
		.header-abouProject2{
			width: 100%;
			height: 1907px;
		}
		.header-abouProject2Box{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		.header-aboutProject__title{
			margin-top: 0px;
			width: 249px;
			height: 85px;
			font-weight: 600;
			font-size: 70px;
			line-height: 84.72px;
		}
		.header-aboutProject__text2{
			padding-top: 154px;
			width: 2160px;
		}
		.header-aboutProject__text2-cont{
			width: 70%;
			height: 375px;
			font-size: 50px;
			font-weight: 400;
			line-height: 75.01px;
		}
		.header-aboutProject__text3{
			padding-top: 80px;
			width: 2160px;
		}
		.header-aboutProject__text3-cont{
			width: 70%;
			height: 300px;
			font-size: 50px;
			font-weight: 400;
			line-height: 75.01px;
		}
		.header-postScriptum{
			height: 614.4px;
		}
		.header-postScriptum-cont{
			width: 1424px;
			font-size: 60px;
			font-weight: 600;
			line-height: 78px;
			color: #000;
		}
		.main{
			width: 100%;
			height: 4311px;
		}
		.mainFlex{
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.mainFlex-dopCont{
			display: inherit;
			margin-top: 90px;
			width: 100%;
		}
		.main-img{
			margin-top: 100.6px;
			width: 95%;
			height: 1100px;
		}
		.main-imgMid{
			display: none;
		}
		.main-box{
			width: 100%;
			height: 1100px;
			margin-top: 100px;
		}
		.main-box__content{
			margin-top: 0px;
			width: 950px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.content-title{
			text-align: left;
			margin-right: 320px;
			width: 537px;
			margin-bottom: 20.09px;
			font-weight: 600;
			font-size: 50px;
			line-height: 68px;
		}
		.content-text{
			text-align: left;
			width: 90%;
			height: 650px;
			font-size: 40px;
			font-weight: 300;
			line-height: 65px;
		}
		.main-img1024more{
			display: flex;
			margin-top: 100px;
			width: 95%;
			height: 1100px;
		}
		.footer{
			width: 100%;
			height: 2036px;
		}
		.footer-img{
			width: 100%;
			height: 816px;
			z-index: 500;
		}
		.footer-img-contain{
			z-index: 800;
		}
		.footer-img__title{
			position: absolute;
			z-index: 1000;
			width: 688px;
			height: 264px;
			left: -1000px;
			margin-top: 261px;
		}
		.footer-img__title-cont{
			color: #fff;
			font-weight: 600;
			font-size: 80px;
			line-height: 88.02px;
		}
		.footer-img__btn{
			margin-top: 49.6px;
		}
		.footer-img__btn .header-img-description__openSeaBtn{
			width: 394px;
			height: 74px;
			font-size: 32px;
			margin-top: 38.19px;
			font-weight: 600;
		}
		.footer-box{
			display: none;
		}
		.footer-box2{
			width: 2160px;
			height: 1220px;
			display: flex;
			flex-direction: row;
		}
		.footer-box2-flexCont{
			width: 60%;
			margin-top: 319px;
		}
		.footer-box__title{
			height: 146px;
			width: 100%;
		}
		.footer-box__title-cont{
			display: block;
			font-weight: 600;
			font-size: 60px;
			line-height: 72.61px;
			width: 654px;
			height: 146px;
		}
		.footer-box__text{
			margin-top: 106px;
		}
		.footer-box__text-cont{
			height: 182px;
			width: 802px;
			font-weight: 400;
			font-size: 40px;
			line-height: 48.41px;
		}
		.footer-box__info{
			width: 40%;
			margin-top: 319px;
		}
		.block-network-title{
			height: 55px;
			width: 364px;
			font-size: 50px;
			line-height: 55.01px;
			font-weight: 500;
		}
		.footer-box__block{
			margin-right: 200px;
		}
		.footer-box__block .block-network-href{
			margin-top: 30px;
		}
		.block-network-href div{
			width: 80px;
			height: 80px;
			background: #fff;
			border-radius: 40px;
			transition: all 0.5s;
		}
		.block-network-href div:hover{
			background: #83354B;
		}
		.block-network-href .padding div{
			margin-left: 60px;
		}
		.block-network-href div img{
			width: 50px;
			height: 50px;
		}
		.footer-box__block{
			margin-left: 200px;
		}
		.block-contact-title{
			height: 55px;
			width: 426px;
			font-size: 50px;
			line-height: 55.01px;
			font-weight: 500;
		}
		.block-contact-href{
			margin-top: 40px;
			width: 277px;
			height: 42px;
			font-size: 35px;
			line-height: 42.36px;
			font-weight: 400;
			transition: all 0.5s;
		}
		.block-network-href div:hover{
			background: #83354B;
		}
		.block-contact-href a{
			color: #fff;
			transition: all 0.5s;
		}
		.block-contact-href a:hover{
			color: #83354B;
		}
}
@media screen
  and (min-device-width: 3500px)
  and (max-device-width: 6040px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	.header{
			height: 8604px;
		}
		.header-box{
			width: 100vw;
			height: 160.5px;
		}
		.header-box__navbar{
			width: 3240px;
			height: 160.5px;
		}
		.navbar-links{
			width: calc( 100% / 3 );
			padding-left: 208.8px;
		}
		.navbar-links button{
			display: flex;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.57px;
		}
		.navbar-links button div{
			color: #fff;
			transition: all 0.5s;
		}
		.navbar-links button div:hover{
			color: #83354B;
		}
		.navbar-links .padding-left{
			padding-left: 84px;
		}
		.navbar-title div{
			font-weight: 900;
			font-size: 96px;
			line-height: 93.78px;
			letter-spacing: 0.1em;
		}
		.navbar-socNetworks{
			padding-right: 235.8px;
		}
		.navbar-socNetworks .padding-right{
			padding-right: 81px;
		}
		.navbar-socNetworks div{
			margin-left: 0px;
			width: 72px;
			height: 72px;
			background: #fff;
			border-radius: 36px;
			transition: all 0.3s;
		}
		.navbar-socNetworks div:hover{
			background: #83354B;
		}

		.navbar-socNetworks div img{
			width: 41px;
			height: 41px;
		}
		.header-img{
			width: 100vw;
			height: 1610.85px;
			display: flex;
			justify-content: center;
		}
		.header-img-description{
  		margin-top: 542.55px;
  		text-align: center;
  		width: 80%;
  	}
  	.header-img-description__title{
  		width: 100%;
  		font-size: 180px;
  		line-height: 175.84px;
  		font-weight: 600;
  	}
  	.header-img-description__title p{
  		display: none;
  	}
  	.doppel{
  		display: inline;
			font-weight: 700;
  	}
  	.header-img-description__titleDescription{
			margin-top: 200px;
			width: 1408px;
			height: 183px;
			font-size: 75px;
			line-height: 90.77px;
			font-weight: 500;
		}
		.header-img-description__openSeaBtn{
			width: 702px;
			height: 153px;
			font-size: 65.5px;
			margin-top: 97.12px;
			transition: all 1s;
		}
		.header-img-description__openSeaBtn:hover{
			background: #83354B;
			border-radius: 70px;
		}
		.header-aboutProject{
			width: 100%;
			height: 1765px;
			display: flex;
			justify-content: center;
		}
		.header-aboutProject__text{
			width: 2160px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.header-aboutProject__text-cont{
			text-align: center;
			display: flex;
			align-items: center;
			width: 80%;
			height: 565px;
			font-size: 75px;
			font-weight: 400;
			line-height: 112.5px;
		}
		.header-aboutImg{
			width: 100%;
			height: 1651.2px;
		}
		.header-abouProject2{
			width: 100%;
			height: 2495px;
		}
		.header-abouProject2Box{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		.header-aboutProject__title{
			margin-top: 0px;
			width: 320px;
			height: 109px;
			font-weight: 600;
			font-size: 90px;
			line-height: 108.92px;
		}
		.header-aboutProject__text2{
			padding-top: 164px;
			width: 3240px;
		}
		.header-aboutProject__text2-cont{
			width: 70%;
			height: 565px;
			font-size: 75px;
			font-weight: 400;
			line-height: 112.52px;
		}
		.header-aboutProject__text3{
			padding-top: 180px;
			width: 3240px;
		}
		.header-aboutProject__text3-cont{
			width: 70%;
			height: 452px;
			font-size: 75px;
			font-weight: 400;
			line-height: 112.52px;
		}
		.header-postScriptum{
			height: 921.6px;
		}
		.header-postScriptum-cont{
			width: 2136px;
			font-size: 90px;
			font-weight: 600;
			line-height: 117px;
			color: #000;
		}
		.main{
			width: 100%;
			height: 6625px;
		}
		.mainFlex{
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.mainFlex-dopCont{
			display: inherit;
			margin-top: 478.4px;
			width: 100%;
		}
		.main-img{
			margin-top: 0px;
			width: 95%;
			height: 1506px;
		}
		.main-imgMid{
			display: none;
		}
		.main-box{
			width: 100%;
			height: 1506px;
			margin-top: 0px;
		}
		.main-box__content{
			margin-top: 0px;
			width: 1287px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.content-title{
			text-align: left;
			margin-right: 260px;
			width: 900px;
			margin-bottom: 80px;
			font-weight: 600;
			font-size: 85px;
			line-height: 110.5px;
		}
		.content-text{
			text-align: left;
			width: 90%;
			height: 888px;
			font-size: 60px;
			font-weight: 400;
			line-height: 95px;
		}
		.main-img1024more{
			display: flex;
			margin-top: 0px;
			width: 95%;
			height: 1506px;
		}
		.footer{
			width: 100%;
			height: 2705px;
		}
		.footer-img{
			width: 100%;
			height: 1224px;
			z-index: 500;
		}
		.footer-img-contain{
			z-index: 800;
		}
		.footer-img__title{
			position: absolute;
			z-index: 1000;
			width: 921px;
			height: 396px;
			left: -1400px;
			margin-top: 405.6px;
		}
		.footer-img__title-cont{
			color: #fff;
			font-weight: 700;
			font-size: 120px;
			line-height: 132.03px;
		}
		.footer-img__btn{
			margin-top: 74.4px;
		}
		.footer-img__btn .header-img-description__openSeaBtn{
			width: 591px;
			height: 111px;
			font-size: 48px;
			margin-top: 57.28px;
			font-weight: 600;
		}
		.footer-box{
			display: none;
		}
		.footer-box2{
			width: 3240px;
			height: 1481px;
			display: flex;
			flex-direction: row;
		}
		.footer-box2-flexCont{
			width: 60%;
			margin-top: 415px;
		}
		.footer-box__title{
			height: 206px;
			width: 100%;
		}
		.footer-box__title-cont{
			display: block;
			font-weight: 600;
			font-size: 85px;
			line-height: 102.87px;
			width: 926px;
			height: 206px;
		}
		.footer-box__text{
			margin-top: 120px;
		}
		.footer-box__text-cont{
			height: 249px;
			width: 1098px;
			font-weight: 400;
			font-size: 55px;
			line-height: 66.56px;
		}
		.footer-box__info{
			width: 50%;
			margin-top: 415px;
		}
		.block-network-title{
			height: 77px;
			width: 450px;
			font-size: 70px;
			line-height: 77.02px;
			font-weight: 500;
		}
		.footer-box__block{
			margin-right: 365px;
		}
		.footer-box__block .block-network-href{
			margin-top: 73px;
		}
		.block-network-href div{
			width: 100px;
			height: 100px;
			background: #fff;
			border-radius: 50px;
			transition: all 0.5s;
		}
		.block-network-href div:hover{
			background: #83354B;
		}
		.block-network-href .padding div{
			margin-left: 80px;
		}
		.block-network-href div img{
			width: 70px;
			height: 70px;
		}
		.footer-box__block{
			margin-left: 365px;
		}
		.block-contact-title{
			height: 77px;
			width: 540px;
			font-size: 70px;
			line-height: 77.02px;
			font-weight: 500;
		}
		.block-contact-href{
			margin-top: 80px;
			width: 380px;
			height: 58px;
			font-size: 48px;
			line-height: 58px;
			font-weight: 400;
			transition: all 0.5s;
		}
		.block-network-href div:hover{
			background: #83354B;
		}
		.block-contact-href a{
			color: #fff;
			transition: all 0.5s;
		}
		.block-contact-href a:hover{
			color: #83354B;
		}
}